<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>eID Easy SDK dev demo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

<div class="container">
    <h2 class="mt-4 mb-4">eID Easy development demo index</h2>

    <%- include partials/lang-selector.ejs %>
    <%- include partials/country-selector.ejs %>

    <div class="row">
        <div class="col-lg-4">
            <%- include partials/id-card.ejs %>
        </div>
        <div class="col-lg-4">
            <%- include partials/smart-id.ejs %>
        </div>
        <div class="col-lg-4">
            <%- include partials/mobile-id.ejs %>
        </div>
    </div>


</div>

</body>

</html>
